{% extends 'base.html' %}

{% block title %}
Control panel
{% endblock %}

{% block body %}
<style>
    .console-container {
        background-color: #161515; /* Темный фон контейнера */
        border: 2px solid #404040;
        border-radius: 8px;
        padding: 10px;
        color: #e0e0e0; /* Цвет текста */
    }

    .scroll-container {
        max-height: 60vh; /* Максимальная высота 60% от высоты экрана */
        height: 900px; /* Фиксированная высота по умолчанию */
        overflow-y: auto; /* Вертикальный скролл */
        background-color: rgba(0, 0, 0, 0.5);
        padding: 15px;
        border: 0px;
        margin-bottom: 20px;
    }

    .scroll-container::-webkit-scrollbar {
        width: 8px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .scroll-container::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
    }
</style>
<div class="container-fluid vh-100 m-0" style="padding-left: 5%; padding-right: 5%;">
    <div class="card card-body">
        {% if is_server_run %}
            <h1 class="text-center text-white">Console</h1>
        {% else %}
            <h1 class="text-center text-white">Console (Сервер выключен)</h1>
        {% endif %}
        <form method="post">
            <div id="console-output" class="console-container scroll-container">
                <!-- Контент будет обновляться через WebSocket -->
            </div>
            {% if is_server_run %}
                <br><input type="text" name="console_input" id="console_input" class="form-control", placeholder="Enter command"><br>
                <input type="submit" class="btn btn-success" value="отправить">
                <input type="submit" name="command" class="btn btn-warning float-end" value="restart">
                <input type="submit" name="command" class="btn btn-danger float-end" style="margin-right: 10px;" value="kill">
                <input type="submit" name="command" class="btn btn-danger float-end" style="margin-right: 10px;" value="stop">
            {% else %}
                <div class="row">
                    <input type="submit" name="command" class="btn btn-success float-end" style="margin-right: 10px;" value="start">
                </div>
            {% endif %}
        </form>
    </div>
    <!-- <div>
        <div class="card alert alert-info">
            <h1>Процессор (CPU): </h1>
            <div>
                <h2>Ядра: {{system_data["cpu_cores"]}}</h2>
                <h2>Нагрузка: {{system_data["cpu_percent"]}}</h2>
            </div>
        </div>
        <div class="card alert alert-info">
            <h1>Оперативная память (RAM): </h1>
            <div>
                <h2>Всего: {{system_data["ram_total"]}}</h2>
                <h2>Использовано: {{system_data["ram_used"]}} / {{system_data["ram_total"]}} | {{system_data["ram_percent"]}}</h2>
            </div>
        </div>
        <div class="card alert alert-info">
            <h1>Дисковое пространство: </h1>
            <div>
                <h2>Всего: {{system_data["disk_total"]}}</h2>
                <h2>Использовано: {{system_data["disk_used"]}} / {{system_data["disk_total"]}} | {{system_data["disk_percent"]}}</h2>
            </div>
        </div>
    </div>
    <div class="text-center alert alert-info">
        <h1>Онлайн: {{online_players}}</h1>
    </div>
    <div class="text-center mt-4">
        <button type="submit" name="command" value="enable_rcon" class="btn btn-success btn-lg">
            Включить RCON
        </button>
    </div> -->
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const socket = io('/server');  // Указываем Namespace

        // Обработка новых сообщений
        socket.on('console_update', function(data) {
            const consoleDiv = document.getElementById('console-output');
            const newLine = document.createElement('p');
            newLine.className = 'fonter';
            newLine.textContent = data.line;
            consoleDiv.appendChild(newLine);
            consoleDiv.scrollTop = consoleDiv.scrollHeight; // Автоскролл
        });

        // Загрузка истории при открытии
        fetch('/get_console_history')
            .then(response => response.json())
            .then(data => {
                const consoleDiv = document.getElementById('console-output');
                data.history.forEach(line => {
                    const p = document.createElement('p');
                    p.className = 'fonter';
                    p.textContent = line;
                    consoleDiv.appendChild(p);
                });
                consoleDiv.scrollTop = consoleDiv.scrollHeight;
            });

        // Обработка ошибок
        socket.on('connect_error', (err) => {
            console.error('Ошибка подключения:', err);
        });
    });
</script>
{% endblock %}