{% extends 'base.html' %}

{% block title %}
Create server
{% endblock %}

{% block body %}
<h1>
<div class="container-fluid px-0">
    <div class="alert alert-info">
        <h1 class="mb-4">Создание сервера</h1>
        <form method="post">
            <div class="row">
                <input type="text"
                        name="name" 
                        class="form-control" 
                        placeholder="Название">
                <select name="core">
                    <option selected="selected">выбрать ядро</option>
                    {% for el in cores %}
                        <option>el</option>
                    {% endfor %}
                </select>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-success btn-lg">
                    создать сервер
                </button>
            </div>
        </form>
    </div>
</div>
</h1>
<img class="background" src="{{ url_for('static', filename='/res/img1.png') }}" alt="minecraft(main-link)">
{% endblock %}