{% extends 'base.html' %}

{% block title %}
Players
{% endblock %}


{% block body %}

<div class="alert alert-info">
    <h1>Онлайн: {{online[0]}} / {{online[1]}}</h1>
    <form method="post">
        <div class="alert alert-dark">
            <h1>Список игроков:</h1>
            {% for el in players_data["online"] %}
                <div class="alert alert-info">
                    <h3>{{el}}</h3>
                    <h4>{{players_data["usercache"]}}</h4>
                </div>
            {% endfor %}
        </div>
        <div class="alert alert-success">
            <h1>Op-list:</h1>
            {% for el in players_data["oplist"] %}
                <div class="alert alert-primary">
                    <h3>{{el}}<button class="btn btn-danger" name="command" value="deop">deop</button></h3>
                </div>
            {% endfor %}
        </div>
        <div class="alert alert-danger">
            <h1>Ban-list:</h1>
            {% for el in players_data["banlist"] %}
                <h3>{{el}}<button class="btn btn-danger" name="command" value="unban">remove</button></h3>
            {% endfor %}
        </div>
        <div>
            <h1>Whitelist:</h1>
            {% for el in players_data["whitelist"] %}
                <h3>{{el}}<button class="btn btn-danger" name="command" value="remove_from_whitelist">remove</button></h3>
            {% endfor %}
        </div>
    </form>
</div>

{% endblock %}