{% extends 'base.html' %}

{% block title %}
File manager
{% endblock %}

{% block body %}
<div class="card card-body">
    <div class="table">
        <h1 class="text">Файлы:</h1>
        <form method="post">
            <div class="tablet">
                <input type="text" name="item" id="item" class="form-control", placeholder="Enter new file/dir name">
                <button class="btn btn-success" name="command" value="make">
                    Создать папку/файл
                </button>
            </div>
        </form>
    </div>
    {% for el in dir_list %}
        <div class="card card-body">
            <form method="post">
                <div>
                    <input type="hidden" name="item" value="{{el}}">
                    {% if "." in el%}
                        <button class="btn btn-succes text" name="command" value="open">{{el}}</button>
                    {% else %}
                        <a href="/server/files/{{path}}-{{el}}" class="btn btn-primary">
                            {{el}}
                        </a>
                    {% endif %}
                    {% if is_renaming[0] == el %}
                        {% if is_renaming[1] == True %}
                            <input type="text" name="new_name" id="new_name", placeholder="{{el}}">
                            <button class="btn btn-success" name="command" value="rename">submit</button>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-warning" name="command" value="rename">Rename</button>
                    {% endif %}
                    <button class="btn btn-danger" name="command" value="delete">Delete</button>
                </div>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}