{% extends 'base.html' %}

{% block title %}
Servers
{% endblock %}

{% block body %}
<h1>
    <div class="alert alert-info">
    <h1>Список серверов: </h1>
    {% for el in servers_data %} <!--el проходиться по всем игрокам на сервере-->
        <div class="row">
            <div class="alert alert-primary">  <!--el[1] это имя-->
                <h2>{{el[1]}}</h2> 
                <p><b>id:{{el[0]}}</b></p>
                <form method="post">
                <a href="/server/{{el[0]}}" class="nav-link active">
                    Запустить
                </a>
            </div>
        </div>
    {% endfor %}
</div>
</h1>
<img class="background" src="{{ url_for('static', filename='/res/img1.png') }}" alt="minecraft(main-link)">
{% endblock %}