{% extends 'base.html' %}

{% block title %}
Players
{% endblock %}

{% block body %}
<style>
    .card {
        background-color: rgba(0, 0, 0, 0.2);
    }
</style>


<div class="card card-body">
    <h1 class="card text">Онлайн: {{online[0]}} / {{online[1]}}</h1>
    <div class="card card-body" style="padding: 1%;">
        <h1 class="text">Список игроков:</h1>
        <form method="post">
        {% for el in players_data["online"] %}
            <input type="hidden" name="username" value="{{el}}">
            <div class="card">
                <h3 class="text">{{el}}</h3>
                <h4 class="text">{{players_data["usercache"]}}
                    {% if el in players_data["oplist"] %}
                        <button class="btn btn-danger" name="command" value="deop">deop</button>
                    {% else %}
                        <button class="btn btn-success" name="command" value="op">op</button>
                    {% endif %}
                    <button class="btn btn-danger" name="command" value="kick">kick</button>
                    <button class="btn btn-danger" name="command" value="ban">ban</button>
                </h4>
            </div>
        {% endfor %}
        </form>
        <form method="post">
            <div>
                <h1 class="text" >Op-list:</h1>
                {% for el in players_data["oplist"] %}
                    <input type="hidden" name="username" value="{{el}}">
                    <div class="card">
                        <h3 class="text">{{el}}<button class="btn btn-danger" name="command" value="deop">deop</button></h3>
                    </div>
                {% endfor %}
            </div>
        </form>
        <form method="post">
            <div>
                <h1 class="text">Ban-list:</h1>
                {% for el in players_data["banlist"] %}
                    <input type="hidden" name="username" value="{{el}}">
                    <div class="card">
                        <h3 class="text">{{el}}<button class="btn btn-danger" name="command" value="pardon">remove</button></h3>
                    </div>
                {% endfor %}
            </div>
        </form>
        <form method="post">
            <div>
                <h1 class="text">Whitelist:</h1>
                {% for el in players_data["whitelist"] %}
                    <input type="hidden" name="username" value="{{el}}">
                    <div class="card">
                        <h3 class="text">{{el}}<button class="btn btn-danger" name="command" value="whitelist remove">remove</button></h3>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>

{% endblock %}