{% extends 'base.html' %}


{% block title %}
Map
{% endblock %}


{% block body %}
<section class="content">
    <div class="text_block">
        <h1>
            Надо сделать тут кнопку которая автоматически установит нужные плагины и будет загружать сюда карту
        </h1>
        <p>
            <iframe width="100%" height="600px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTOrEM-h36wb2LmpE3nF6f5tQMKVrBxWSZceBa7Jl5BZd5VaAt3GsHBLefgq9VV8RMDDb0FQEWNQol-/pubhtml?widget=true&amp;headers=false"</iframe>
        </p> 
    </div> 
</section>
{% endblock %}