{% extends 'base.html' %}

{% block title %}Консоль сервера{% endblock %}

{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    const socket = io();

    // Запрос обновлений при подключении
    socket.on('connect', () => {
        socket.emit('request_updates');
    });

    // Обработчик обновлений
    socket.on('console_update', (data) => {
        document.getElementById('console-output').textContent = data.console_output;
    });
</script>
<style>
    .console-container {
        background-color: #1d1d1d; /* Темный фон контейнера */
        border: 2px solid #404040;
        border-radius: 8px;
        padding: 10px;
        color: #e0e0e0; /* Цвет текста */
    }

    .scroll-container {
        max-height: 60vh; /* Максимальная высота 60% от высоты экрана */
        height: 900px; /* Фиксированная высота по умолчанию */
        overflow-y: auto; /* Вертикальный скролл */
        background-color: #1f1f1f;
        padding: 15px;
        border: 2px solid #333;
        margin-bottom: 20px;
    }

    .scroll-container::-webkit-scrollbar {
        width: 8px;
        background-color: #1a1a1a;
    }

    .scroll-container::-webkit-scrollbar-thumb {
        background-color: #404040;
        border-radius: 4px;
    }
</style>

<div class="container-fluid vh-100 m-0" style="padding-left: 5%; padding-right: 5%;">
    <div class="alert alert-info">
        <h1 class="text-center">Console</h1>
        <form method="post">
            <div class="console-container scroll-container">
                {% for el in console_output %}
                    <p class="fonter">{{el[0]}}</p>  
<!-- нужно чтобы при загруске страницы, стразу прокручивалов самый низ консоли -->
                {% endfor %}
            </div>
                {% if is_server_run %}
                    <br><input type="text" name="console_input" id="console_input" class="form-control", placeholder="Enter command"><br>
                    <input type="submit" class="btn btn-success" value="отправить">
                {% else %}
                    <h1>Сервер выключен</h1>
                {% endif %}

                {% if is_server_run %}
                    <input type="submit" name="command" class="btn btn-danger float-end" value="restart">
                    <input type="submit" name="command" class="btn btn-warning float-end" style="margin-right: 10px;" value="stop">
                {% else %}
                    <input type="submit" name="command" class="btn btn-success float-end" value="start">
                {% endif %}
        </form>
    </div>
</div>
{% endblock %}